# Игнорирование временных файлов и кэша
.DS_Store
Thumbs.db
.cache/
*.swp

# Игнорирование файлов конфигурации
.env

# Игнорирование зависимостей и пакетов
/node_modules/
/package-lock.json
/yarn.lock

# Игнорирование сгенерированных файлов
/dist/
/build/

# Игнорирование логов и отчетов об ошибках
/log/
/logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Игнорирование файлов, содержащих конфиденциальную информацию
credentials.json

# Игнорирование личных файлов
*.secret

frontend/node_modules/
backend/node_modules/
